# Node.js dependencies
node_modules/

# Environment variables
.env

# macOS system files
.DS_Store

# Build output
build/

# IDE specific files
.idea/
.vscode/

# Log files
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*